.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.db
.pytest_cache
.coverage
htmlcov
dist
build
*.egg-info
venv
.env
tests
data/
logs/
# dashboard/
Dockerfile
docker-compose*
README.md
docs/
scripts/
Explanation/
